<div class="border-top footer mt-auto">
  <div class="container">
    <footer>
      <div class="d-flex justify-content-between align-items-center">
        <p class="text-center footer-text pt-3">
          © 2024 Booknotes. All rights reserved.
        </p>
        <img src="/images/logo.png" alt="booknotes logo" class="logo" />
      </div>
    </footer>
  </div>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"
></script>
