<header>
    <div class="px-3 py-2 border-bottom header">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <a
            href="/"
            class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"
          >
            <img src="/images/logo.png" alt="booknotes logo" class="logo" />
          </a>

          <ul
            class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small"
          >
            <li>
              <a href="/" class="nav-link">
                <img
                  src="/images/house-door.svg"
                  alt="house-door"
                  class="bi d-block mx-auto mb-1"
                />
                Home
              </a>
            </li>
            <li>
              <a href="/reviews" class="nav-link">
                <img
                  src="/images/star.svg"
                  alt="star"
                  class="bi d-block mx-auto mb-1"
                />
                Reviews
              </a>
            </li>
            <li>
              <a href="/editor" class="nav-link">
                <img
                  src="/images/book.svg"
                  alt="book"
                  class="bi d-block mx-auto mb-1"
                />
                Books
              </a>
            </li>
            <li>
              <a href="/about" class="nav-link">
                <img
                  src="/images/question-circle.svg"
                  alt="quesiton mark"
                  class="bi d-block mx-auto mb-1"
                />
                About
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>