<%- include("partials/title.ejs") %>

<body class="d-flex flex-column min-vh-100">
    <%- include("partials/header.ejs") %>

    <div class="container py-4">

        <article class="blog-post">           
            <div class="d-flex border-bottom mb-3 pb-3">
                <h2 class="display-5 link-body-emphasis mb-1">About Booknotes</h2>
            </div>
    
            <p>Booknotes is a web application that allows the user to view a collection of book reviews and notes prepared by the editors. The reviews are presented in a detailed manner for easier understanding. It also shows the book covers which are automatically captured from an external API based on the ISBN.</p>
            <p>There is also a "Books" section available to those with editor access which allows them to create and maintain the book records, reviews and notes.</p>
            
          </article>

    </div>

    <%- include("partials/footer.ejs") %>
</body>
</html>