<%- include("partials/title.ejs") %>

<body class="d-flex flex-column min-vh-100">
    <%- include("partials/header.ejs") %>

    <div class="container py-5">
        <main class="form-signin w-50 m-auto shadow-sm border rounded">
            <div class="d-flex border w-100 m-0 p-0 signin">
                <img class="logo" src="/images/logo.png" alt="booknotes logo">
            </div>
            <form class="p-5" method="post" action="/signin">                
                <h1 class="h5 mb-3 fw-normal">Please enter editor credentials</h1>
            
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username">
                    <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                    <label for="floatingPassword">Password</label>
                </div>
                
                <button class="btn btn-secondary py-2 my-2" type="submit">Submit</button>

                <% if(locals.error) { %>
                    <p class="pt-2 sm"><strong>* <%= error %></strong></p>
                <% } %>
            </form>

      </main>
    </div>

    <%- include("partials/footer.ejs") %>
</body>
</html>